# Dependências
node_modules/

# Variáveis de ambiente
.env

# Base de dados local
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log
npm-debug.log*

# Ficheiros do sistema
.DS_Store
Thumbs.db

# Configuração do editor
.vscode/
.idea/

# Backups
*-backup/
backup/